@model IEnumerable<RecipeProject.Models.UserRecipe>

@{ ViewData["Title"] = "Index"; }

<div class="row">
    <div class="col-8">
        <a asp-action="Create">Create New</a>
    </div>



    @foreach (var item in Model)
    {

        <div class="cardBox border-success mb-3" style="width: 18rem;">
            <a asp-action="Details" asp-route-id="@item.Id">
                <img src="~/RecipeImages/@Html.DisplayFor(modelItem => item.RecipeImage)" class="img-fluid imgSucc" />
            </a>
            <div class="card-body text-success">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.RecipeDescription)</h5>
                <p class="card-text">@item.Name</p>
                <div class="container">
                    <div class="card-footer bg-transparent border-success"></div>
                    <div class="row">
                        @Html.ActionLink("Details", "Details", new { id = @item.RecipeId },
                                                                                                          new { @class = "btn btn-outline-info btn-lg btn-block" })
                        @if (Convert.ToInt32(User.FindFirst("Id").Value) == item.Id)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = @item.RecipeId },
                                                                                                                         new { @class = "btn btn-outline-info btn-lg btn-block" })
                            @Html.ActionLink("Delete", "Delete", new { id = @item.RecipeId },
                                                                                                              new { @class = "btn btn-outline-info btn-lg btn-block" })
                        }
                    </div>
                </div>
            </div>
        </div>

    }


    <style>



        .cardBox {
            float: left;
            margin-left: 40px;
            margin-bottom: 20px;
            margin-top: 20px;
            background-color: whitesmoke;
            outline-style: solid;
            outline-color: darkblue;
        }

        .img {
            width: 100%;
            height: 15vw;
            object-fit: cover;
            outline-color: black;
            outline-width: 4px;
        }

        .imgSucc {
            outline-color: green;
            outline-width: 3px;
        }

        .imgProg {
            outline-color: green;
            outline-width: 3px;
        }
    </style>
